---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <h1 class="text-5xl py-8">Posts</h1>
  <ul role="list" class="flex flex-col gap-8">
    {
      allBlogPosts.map((post) => (
        <Card
          href={`/posts/${post.slug}`}
          title={post.data.title}
          body={post.body}
        />
      ))
    }
  </ul>
</Layout>
