---
type Props = {
  // TODO
  slug: string;
};

const { slug } = Astro.props;

const links = slug.split("/").filter(Boolean);
---

<div class="flex gap-2 py-4 text-muted-foreground">
  <a href="/" class="hover:text-foreground">Home</a>
  {
    links.map((link, index) => (
      <a
        class="hover:text-foreground"
        href={`/${links.slice(0, index + 1).join("/")}`}
      >
        {link}
      </a>
    ))
  }
</div>
